<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title th:if="${!openAgent}">[[${websiteBaseConfig.websiteName}]] 创建证书</title>
    <title th:if="${openAgent}">[[${agentConfig.websiteName}]] 创建证书</title>

    <!-- Favicon -->
    <link th:if="${!openAgent}" rel="shortcut icon" th:href="${websiteBaseConfig.websiteIconImg}">
    <link th:if="${openAgent}" rel="shortcut icon" th:href="${agentConfig.icon}">

    <!-- Font -->
    <link th:href="@{common/assets/css/css2.css}" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/bootstrap-icons/font/bootstrap-icons.css}">

    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/quill/dist/quill.snow.css}">
    <script th:src="@{dashboard/assets/js/index.var.js}"></script>

    <!-- CSS Front Template -->

    <link rel="preload" th:href="@{dashboard/assets/css/theme.min.css}" data-hs-appearance="default" as="style">
    <link rel="preload" th:href="@{dashboard/assets/css/theme-dark.min.css}" data-hs-appearance="dark" as="style">

    <style data-hs-appearance-onload-styles>
        * {
            transition: unset !important;
        }

        body {
            opacity: 0;
        }

    </style>

    <script>
        window.hs_config = {
            "autopath": "@@autopath",
            "deleteLine": "hs-builder:delete",
            "deleteLine:build": "hs-builder:build-delete",
            "deleteLine:dist": "hs-builder:dist-delete",
            "previewMode": false,
            "startPath": "/index.html",
            "vars": {
                "themeFont": "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap",
                "version": "?v=1.0"
            },
            "layoutBuilder": {
                "extend": {"switcherSupport": true},
                "header": {"layoutMode": "default", "containerMode": "container-fluid"},
                "sidebarLayout": "default"
            },
            "themeAppearance": {
                "layoutSkin": "default",
                "sidebarSkin": "default",
                "styles": {
                    "colors": {
                        "primary": "#377dff",
                        "transparent": "transparent",
                        "white": "#fff",
                        "dark": "132144",
                        "gray": {"100": "#f9fafc", "900": "#1e2022"}
                    }, "font": "Inter"
                }
            },
            "languageDirection": {"lang": "en"},
            "skipFilesFromBundle": {
                "dist": ["assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "assets/js/demo.js"],
                "build": ["assets/css/theme.css", "assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js", "assets/js/demo.js", "assets/css/theme-dark.css", "assets/css/docs.css", "assets/vendor/icon-set/style.css", "assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js", "assets/js/demo.js"]
            },
            "minifyCSSFiles": ["assets/css/theme.css", "assets/css/theme-dark.css"],
            "copyDependencies": {
                "dist": {"*assets/js/theme-custom.js": ""},
                "build": {"*assets/js/theme-custom.js": "", "node_modules/bootstrap-icons/font/*fonts/**": "assets/css"}
            },
            "buildFolder": "",
            "replacePathsToCDN": {},
            "directoryNames": {"src": "./src", "dist": "./dist", "build": "./build"},
            "fileNames": {
                "dist": {"js": "theme.min.js", "css": "theme.min.css"},
                "build": {
                    "css": "theme.min.css",
                    "js": "theme.min.js",
                    "vendorCSS": "vendor.min.css",
                    "vendorJS": "vendor.min.js"
                }
            },
            "fileTypes": "jpg|png|svg|mp4|webm|ogv|json"
        }
        window.hs_config.gulpRGBA = (p1) => {
            const options = p1.split(',')
            const hex = options[0].toString()
            const transparent = options[1].toString()

            var c;
            if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
                c = hex.substring(1).split('');
                if (c.length == 3) {
                    c = [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c = '0x' + c.join('');
                return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',' + transparent + ')';
            }
            throw new Error('Bad Hex');
        }
        window.hs_config.gulpDarken = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = -parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
        window.hs_config.gulpLighten = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
    </script>
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl footer-offset">

<script th:src="@{dashboard/assets/js/hs.theme-appearance.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js}"></script>

<!-- ========== HEADER ========== -->

<div th:replace="common/common-dashboard::header(curPage='certification-list', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<!-- Navbar Vertical -->

<div th:replace="common/common-dashboard::aside(curPage='certification-list', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<main id="content" role="main" class="main">

    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header" style="padding-bottom: 5px;margin-bottom: 10px">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link"
                                                           href="certification-list">证书管理</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">编辑证书</li>
                        </ol>
                    </nav>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <div class="row">
            <div class="col-lg-12 mb-3 mb-lg-0">
                <!-- Card -->
                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">配置证书</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">

                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <label class="form-label">证书来源</label>

                                <div class="input-group input-group-sm-vertical">
                                    <!-- Radio Check -->
                                    <label class="form-control">
                                <span class="form-check">
                                    <input type="radio" class="form-check-input" name="certificationSource" checked
                                           value="self">
                                      <span class="form-check-label">自有证书</span>
                                        <i class="bi-question-circle text-body ms-1"
                                           title="自有证书"></i>
                                    </span>
                                    </label>
                                    <!-- End Radio Check -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="certificationName" class="form-label">证书名称</label>
                                <input type="text" class="form-control" name="productName" id="certificationName"
                                       placeholder="请输入证书名称"
                                       maxlength="30">
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- Form -->
                        <div class="mb-4 row">
                            <div class="col-sm-6">
                                <label for="certificationContent" class="form-label">证书内容</label>
                                <textarea id="certificationContent" class="form-control"
                                          placeholder="请输入PEM格式的证书内容" rows="4"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label for="certificationKey" class="form-label">私钥内容 <i
                                        class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="-"></i></label>
                                <textarea id="certificationKey" class="form-control"
                                          placeholder="请输入PEM格式的私钥内容" rows="4"></textarea>
                            </div>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-4 row">
                            <div class="col-sm-6">
                                <label class="form-label">回源方式</label>
                                <div>
                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="originType1" class="form-check-input" name="originType"
                                               value="2"
                                               checked>
                                        <label class="form-check-label" for="originType1">HTTP</label>
                                    </div>
                                    <!-- End Form Check -->

                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="originType2"
                                               class="form-check-input indeterminate-checkbox"
                                               name="originType" value="3">
                                        <label class="form-check-label" for="originType2">HTTPS</label>
                                    </div>
                                    <!-- End Form Check -->

                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="originType3"
                                               class="form-check-input indeterminate-checkbox"
                                               name="originType" value="1">
                                        <label class="form-check-label" for="originType3">协议跟随</label>
                                    </div>
                                    <!-- End Form Check -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">强制跳转 <i
                                        class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="将用户访问方式强制跳转为HTTP或HTTPS，选择“默认”时同时支持HTTP和HTTPS请求。"></i></label>
                                <div>
                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="forcedJump3" class="form-check-input" name="forcedJump"
                                               value="moren"
                                               checked>
                                        <label class="form-check-label" for="forcedJump3">默认</label>
                                    </div>
                                    <!-- End Form Check -->
                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="forcedJump1" class="form-check-input" name="forcedJump"
                                               value="http"
                                        >
                                        <label class="form-check-label" for="forcedJump1">HTTP</label>
                                    </div>
                                    <!-- End Form Check -->

                                    <!-- Form Check -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="forcedJump2"
                                               class="form-check-input indeterminate-checkbox"
                                               name="forcedJump" value="https">
                                        <label class="form-check-label" for="forcedJump2">HTTPS</label>
                                    </div>
                                    <!-- End Form Check -->
                                </div>
                            </div>

                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-4 row">
                            <div class="col-sm-6">
                                <label class="form-label">HTTP/2<i
                                        class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="HTTP/2即HTTP超文本传输协议的新一代版本，较之HTTP1.x具有有效提升数据传输效率、节省带宽和流量、缓解网络阻塞状况等优点。"></i></label>
                                <div class="form-check form-switch mb-4">
                                    <input type="checkbox" class="form-check-input" id="http2Status">
                                    <label class="form-check-label" for="http2Status">未启用</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">OCSP Stapling<i
                                        class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="实现由CDN预先缓存在线证书验证结果并下发客户端。"></i></label>
                                <div class="form-check form-switch mb-4">
                                    <input type="checkbox" class="form-check-input" id="OCSPStatus">
                                    <label class="form-check-label" for="OCSPStatus">未启用</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Body -->
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <!--                            <a class="btn btn-outline-danger" style="margin: 0px 5px" href="domains">-->
                            <!--                                取消-->
                            <!--                            </a>-->
                            <button class="btn btn-primary" id="nextButton">
                                下一步
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

            </div>
            <!-- End Col -->

<!--            <div class="col-lg-4">-->
<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card mb-3 mb-lg-5">-->
<!--                    &lt;!&ndash; Header &ndash;&gt;-->
<!--                    <div class="card-header">-->
<!--                        <h4 class="card-header-title">推荐阅读</h4>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Header &ndash;&gt;-->

<!--                    &lt;!&ndash; Body &ndash;&gt;-->
<!--                    <div class="card-body">-->

<!--                        <div class="mb-2">-->
<!--                            <a class="d-inline-block" href="javascript:;" data-bs-toggle="modal"-->
<!--                               data-bs-target="#productsAdvancedFeaturesModal">-->
<!--                                <i class="bi-star-fill fs-4 text-warning me-1"></i> 什么是证书？-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <a class="d-inline-block" href="javascript:;" data-bs-toggle="modal"-->
<!--                           data-bs-target="#productsAdvancedFeaturesModal">-->
<!--                            <i class="bi-star-fill fs-4 text-warning me-1"></i> 如何申请证书？-->
<!--                        </a>-->

<!--                        <hr class="my-4">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Body &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; End Card &ndash;&gt;-->
<!--            </div>-->
            <!-- End Col -->
        </div>
        <!-- End Row -->

    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div th:replace="common/common-dashboard::#footer(curPage='certification-list')"></div>
    <!-- End Footer -->
</main>
<!-- Modal -->
<div id="nextModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">选择加速域名</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyDomain">
                <!-- Select -->
                <div class="tom-select-custom">
                    <select class="form-select" autocomplete="off"
                            data-hs-tom-select-options='{
            "placeholder": "选择加速域名",
            "hideSearch": true
          }' id="selectDomain">
                    </select>
                </div>
                <!-- End Select -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="add()">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->

<div th:replace="common/common-dashboard::#offcanvasActivityStream(curPage='certification-list')"></div>

<!-- End Products Advanced Features Modal -->
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Global Compulsory  -->
<script th:src="@{dashboard/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- JS Implementing Plugins -->
<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/hs-form-search/dist/hs-form-search.min.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-quantity-counter/dist/hs-quantity-counter.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/hs-add-field/dist/hs-add-field.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/tom-select/dist/js/tom-select.complete.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/quill/dist/quill.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/dropzone/dist/min/dropzone.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables.net.extensions/select/select.min.js}"></script>

<!-- JS Front -->
<script th:src="@{dashboard/assets/js/theme.min.js}"></script>

<script th:src="@{common/layer/layer.js}"></script>
<script th:src="@{common/util/reg.js}"></script>
<script th:src="@{common/custom.js}"></script>
<script th:src="@{common/custom_ceo.js(v='20260719-logout-fix')}"></script>
<script th:src="@{common/custom_cmo.js}"></script>
<script th:src="@{common/custom_cto.js(v='20260624-free-package2')}"></script>


<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // INITIALIZATION OF DATATABLES
        // =======================================================
        HSCore.components.HSDatatables.init($('#datatable'), {
            select: {
                style: 'multi',
                selector: 'td:first-child input[type="checkbox"]',
                classMap: {
                    checkAll: '#datatableCheckAll',
                    counter: '#datatableCounter',
                    counterInfo: '#datatableCounterInfo'
                }
            }
        });
    });
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        window.onload = function () {


            // INITIALIZATION OF NAVBAR VERTICAL ASIDE
            // =======================================================
            new HSSideNav('.js-navbar-vertical-aside').init()


            // INITIALIZATION OF FORM SEARCH
            // =======================================================
            new HSFormSearch('.js-form-search')


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()


            // INITIALIZATION OF SELECT
            // =======================================================
            HSCore.components.HSTomSelect.init('.js-select')


            // INITIALIZATION OF ADD FIELD
            // =======================================================
            new HSAddField('.js-add-field', {
                addedField: field => {
                    HSCore.components.HSTomSelect.init(field.querySelector('.js-select-dynamic'))
                }
            })


            // INITIALIZATION OF  QUANTITY COUNTER
            // =======================================================
            new HSQuantityCounter('.js-quantity-counter')


            // INITIALIZATION OF DROPZONE
            // =======================================================
            HSCore.components.HSDropzone.init('.js-dropzone')


            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            HSCore.components.HSQuill.init('.js-quill')
        }
    })()
</script>

<!-- Style Switcher JS -->

<script>
    (function () {
        // STYLE SWITCHER
        // =======================================================
        const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
        const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

        // Function to set active style in the dorpdown menu and set icon for dropdown trigger
        const setActiveStyle = function () {
            $variants.forEach($item => {
                if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                    $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                    return $item.classList.add('active')
                }

                $item.classList.remove('active')
            })
        }

        // Add a click event to all items of the dropdown to set the style
        $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
                HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
        })

        // Call the setActiveStyle on load page
        setActiveStyle()

        // Add event listener on change style to call the setActiveStyle function
        window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
        })


    })()
</script>

<script>
    var sign = 0;
    var selectP;

    $("#nextButton").click(function () {
        //1.判断数据是否输入
        let name = $("#certificationName").val()
        let content = $("#certificationContent").val()
        let privateContent = $("#certificationKey").val()
        if (!name || !content || !privateContent) {
            layerFail("表单输入错误")
            return
        }
        let param = {}
        param = {
            "certificateDomainName": {
                "cert_type": 0,
                "cert_name": name,
                "certificate": content
            }
        }
        $.ajax({
            type: "POST",
            url: "CdnDomainHttps/certificateAssociatedDomainName",
            contentType: "application/json",
            data: JSON.stringify(param),
            success: function (data) {
                if (data['code'] === 'SUCCESS') {
                    console.log(data)
                    let result = data.data.domain_names
                    const hsTomSelect = document.querySelector('#selectDomain');
                    result.forEach(i => {
                        var newOption = document.createElement('option');
                        newOption.value = i;
                        newOption.text = i;
                        hsTomSelect.appendChild(newOption);
                    })
                    $("#nextModal").modal("show");
                } else {
                    autoLayer(data)
                    return
                }
            }
        });

    })

    function add() {
        console.log("add")
        // 获取多选框元素
        const selectEl = document.querySelector('#selectDomain');
        // 获取当前选中值
        const selectedValues = Array.from(selectEl.selectedOptions).map(option => option.value);
        if (!selectedValues || selectedValues.length <= 0) {
            layerFail("域名不能为空")
        }
        let name = $("#certificationName").val()
        let content = $("#certificationContent").val()
        let privateContent = $("#certificationKey").val()
        let originType = $('input[name="originType"]:radio:checked').val()
        let forcedJump = $('input[name="forcedJump"]:radio:checked').val()
        let http2Status = $("#http2Status").is(":checked") ? 1 : 0
        let OCSPStatus = $("#OCSPStatus").is(":checked") ? 1 : 0
        var param = {}
        if (forcedJump == "moren") {
            param = {
                "domainMultiCertificates": {
                    "access_origin_way": originType,
                    "certificate_type": 0,
                    "cert_name": name,
                    "certificate": content,
                    "domain_name": selectedValues[0],
                    "force_redirect_config": {
                        "switch": 0,
                        "redirect_type": ""
                    },
                    "private_key": privateContent,
                    "http2": http2Status,
                    "https_switch": 1,
                    "ocsp_stapling": OCSPStatus
                }
            }
        } else {
            param = {
                "domainMultiCertificates": {
                    "access_origin_way": originType,
                    "certificate_type": 0,
                    "cert_name": name,
                    "certificate": content,
                    "domain_name": selectedValues[0],
                    "force_redirect_config": {
                        "switch": 1,
                        "redirect_type": forcedJump
                    },
                    "private_key": privateContent,
                    "http2": http2Status,
                    "https_switch": 1,
                    "ocsp_stapling": OCSPStatus
                }
            }
        }
        $.ajax({
            type: "POST",
            url: "CdnDomainHttps/certificateNewConfiguration",
            contentType: "application/json",
            data: JSON.stringify(param),
            success: function (data) {
                autoLayer(data)
                if (data['code'] === 'SUCCESS') {
                    if (data['code'] === 'SUCCESS') {
                        setTimeout(function () {
                            window.location.href = 'certification-list'
                        }, 1000);
                    }
                }
            }
        });
    }
</script>
<!-- End Style Switcher JS -->
</body>
</html>
<div th:replace="common/common-dashboard::#agent"></div>
