<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>[[${websiteBaseConfig.websiteName}]] 认证记录</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="${websiteBaseConfig.websiteIconImg}">

    <!-- Font -->
    <link th:href="@{common/assets/css/css2.css}" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/bootstrap-icons/font/bootstrap-icons.css}">

    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css}">

    <script th:src="@{dashboard/assets/js/index.var.js}"></script>

    <!-- CSS Front Template -->

    <link rel="preload" th:href="@{dashboard/assets/css/theme.min.css}" data-hs-appearance="default" as="style">
    <link rel="preload" th:href="@{dashboard/assets/css/theme-dark.min.css}" data-hs-appearance="dark" as="style">
    <style data-hs-appearance-onload-styles>
        * {
            transition: unset !important;
        }

        body {
            opacity: 0;
        }
    </style>

    <script>
        window.hs_config = {
            "autopath": "@@autopath",
            "deleteLine": "hs-builder:delete",
            "deleteLine:build": "hs-builder:build-delete",
            "deleteLine:dist": "hs-builder:dist-delete",
            "previewMode": false,
            "startPath": "/index.html",
            "vars": {
                "themeFont": "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap",
                "version": "?v=1.0"
            },
            "layoutBuilder": {
                "extend": {"switcherSupport": true},
                "header": {"layoutMode": "default", "containerMode": "container-fluid"},
                "sidebarLayout": "default"
            },
            "themeAppearance": {
                "layoutSkin": "default",
                "sidebarSkin": "default",
                "styles": {
                    "colors": {
                        "primary": "#377dff",
                        "transparent": "transparent",
                        "white": "#fff",
                        "dark": "132144",
                        "gray": {"100": "#f9fafc", "900": "#1e2022"}
                    }, "font": "Inter"
                }
            },
            "languageDirection": {"lang": "en"},
            "skipFilesFromBundle": {
                "dist": ["assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "assets/js/demo.js"],
                "build": ["assets/css/theme.css", "assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js", "assets/js/demo.js", "assets/css/theme-dark.css", "assets/css/docs.css", "assets/vendor/icon-set/style.css", "assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js", "assets/js/demo.js"]
            },
            "minifyCSSFiles": ["assets/css/theme.css", "assets/css/theme-dark.css"],
            "copyDependencies": {
                "dist": {"*assets/js/theme-custom.js": ""},
                "build": {"*assets/js/theme-custom.js": "", "node_modules/bootstrap-icons/font/*fonts/**": "assets/css"}
            },
            "buildFolder": "",
            "replacePathsToCDN": {},
            "directoryNames": {"src": "./src", "dist": "./dist", "build": "./build"},
            "fileNames": {
                "dist": {"js": "theme.min.js", "css": "theme.min.css"},
                "build": {
                    "css": "theme.min.css",
                    "js": "theme.min.js",
                    "vendorCSS": "vendor.min.css",
                    "vendorJS": "vendor.min.js"
                }
            },
            "fileTypes": "jpg|png|svg|mp4|webm|ogv|json"
        }
        window.hs_config.gulpRGBA = (p1) => {
            const options = p1.split(',')
            const hex = options[0].toString()
            const transparent = options[1].toString()

            var c;
            if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
                c = hex.substring(1).split('');
                if (c.length == 3) {
                    c = [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c = '0x' + c.join('');
                return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',' + transparent + ')';
            }
            throw new Error('Bad Hex');
        }
        window.hs_config.gulpDarken = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = -parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
        window.hs_config.gulpLighten = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
    </script>
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

<script th:src="@{dashboard/assets/js/hs.theme-appearance.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js}"></script>

<!-- ========== HEADER ========== -->

<div th:replace="common/common-dashboard::header(curPage='authentication-real-name-list', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<!-- Navbar Vertical -->

<div th:replace="common/common-dashboard::aside(curPage='authentication-real-name-list', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<!-- End Navbar Vertical -->
<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header" style="padding-bottom: 5px;margin-bottom: 10px">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <h1 class="page-header-title">认证记录 <i class="bi-person-video nav-icon"></i>
                    </h1>

                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-md">
                        <div class="d-flex justify-content-between align-items-center">
                            <form>
                                <!-- Search -->
                                <div class="input-group input-group-merge input-group-flush">
                                    <div class="input-group-prepend input-group-text">
                                        <i class="bi-search"></i>
                                    </div>
                                    <input id="datatableSearch" type="search" class="form-control"
                                           placeholder="关键词搜索">
                                </div>
                                <!-- End Search -->
                            </form>
                            <!-- End Col -->
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                        <!-- Filter -->
                        <div class="row align-items-sm-center">

                            <div class="col-sm-auto">
                                <!-- Filter -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Datatable Info -->
                                    <div id="datatableCounterInfo" style="display: none;">
                                        <div class="d-flex align-items-center">
                                    <span class="fs-6 me-3">
                                      <span id="datatableCounter">0</span>
                                      条被选中
                                    </span>
                                            <button class="btn btn-outline-danger btn-sm"
                                                    onclick="confirmDelete('deleteRoleBatch()')">
                                                <i class="tio-delete-outlined"></i> 删除
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Datatable Info -->
                                </div>
                                <!-- End Filter -->
                            </div>

                            <div class="col-sm-auto">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <span class="text-secondary me-2" style="font-weight: bold">用户：</span>
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <!-- Select -->
                                        <div class="tom-select-custom tom-select-custom-end">
                                            <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                                    data-target-column-index="0" data-target-table="datatable"
                                                    autocomplete="off" data-hs-tom-select-options='{
                                                      "searchInDropdown": true,
                                                      "hideSearch": false,
                                                      "dropdownWidth": "15rem"
                                                    }'>
                                                <option value="all" selected>全部</option>
                                                <option th:value="${user.id}" th:each="user: ${users}"
                                                        th:text="${user.userName}"></option>
                                            </select>
                                        </div>
                                        <!-- End Select -->
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>

                            <div class="col-sm-auto">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <span class="text-secondary me-2" style="font-weight: bold">认证类型：</span>
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <!-- Select -->
                                        <div class="tom-select-custom tom-select-custom-end">
                                            <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                                    data-target-column-index="1" data-target-table="datatable"
                                                    autocomplete="off" data-hs-tom-select-options='{
                                  "searchInDropdown": false,
                                  "hideSearch": true,
                                  "dropdownWidth": "10rem"
                                }'>
                                                <option value="all" selected>全部</option>
                                                <option value="person">个人认证</option>
                                                <option value="enterprise">企业认证</option>
                                            </select>
                                        </div>
                                        <!-- End Select -->
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>

                            <div class="col-sm-auto">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <span class="text-secondary me-2" style="font-weight: bold">状态：</span>
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <!-- Select -->
                                        <div class="tom-select-custom tom-select-custom-end">
                                            <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                                    data-target-column-index="4" data-target-table="datatable"
                                                    autocomplete="off" data-hs-tom-select-options='{
                                  "searchInDropdown": false,
                                  "hideSearch": true,
                                  "dropdownWidth": "10rem"
                                }'>
                                                <option value="all" selected>全部</option>
                                                <option value="wait">等待审核</option>
                                                <option value="success">审核通过</option>
                                                <option value="fail">未通过审核</option>
                                            </select>
                                        </div>
                                        <!-- End Select -->
                                    </div>
                                    <!-- End Col -->
                                </div>
                            </div>

                        </div>
                        <!-- End Filter -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <table id="datatable" style="width: 100%;"
                       class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-hover"
                       data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                   "order": [[5, "desc"]],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 10,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination",
                   "paginationPrevLinkMarkup": "<span aria-hidden=\"true\">前一页</span>",
                   "paginationNextLinkMarkup": "<span aria-hidden=\"true\">后一页</span>",
                   "bAutoWidth": false
                 }'>
                    <thead class="thead-light">
                    <tr>
                        <th class="table-column-pe-0">认证用户</th>
                        <th class="table-column-ps-0">认证类型</th>
                        <th>名称</th>
                        <th>证件号</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
            <!-- End Table -->

            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                            <span class="me-2">每页显示</span>

                            <!-- Select -->
                            <div class="tom-select-custom">
                                <select id="datatableEntries"
                                        class="js-select form-select form-select-borderless" autocomplete="off"
                                        data-hs-tom-select-options='{
                                            "searchInDropdown": false,
                                            "hideSearch": true,
                                            "dropdownWidth": "6rem"
                                          }'>
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="80">80</option>
                                </select>
                            </div>
                            <!-- End Select -->

                            <span class="text-secondary me-2">条，共</span>
                            <!-- Pagination Quantity -->
                            <span id="datatableWithPaginationInfoTotalQty"></span>

                            <span class="text-secondary me-2" style="margin-left: 10px"> 条</span>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div th:replace="common/common-dashboard::#footer(curPage='authentication-real-name-list')"></div>
    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->

<div th:replace="common/common-dashboard::#offcanvasActivityStream(curPage='authentication-real-name-list')"></div>


<div id="exampleModalCenter1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle1">详情信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="name">认证名称</label>
                    <input type="text" id="name" class="form-control" placeholder="请输入认证记录名称" readonly
                           maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="idCardNum">证件号</label>
                    <input type="text" id="idCardNum" class="form-control" placeholder="请输入认证记录编码" readonly
                           maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label">正面照片</label>
                    <img id="frontImg"
                         class="avatar avatar-xl avatar-4x3 avatar-centered h-100 mb-2" style="width: 100%"
                         th:src="@{dashboard/assets/svg/illustrations-light/oc-browse-file.svg}">
                </div>
                <div class="mb-3" id="backImgAlert">
                    <label class="form-label">反面照片</label>
                    <img id="backImg"
                         class="avatar avatar-xl avatar-4x3 avatar-centered h-100 mb-2" style="width: 100%"
                         th:src="@{dashboard/assets/svg/illustrations-light/oc-browse-file.svg}">
                </div>
                <div class="mb-3" id="authFileDiv">
                    <label class="form-label">企业授权书</label>
                    <p>点击下载查看：<a id="authFile" href="#" target="_blank">企业授权书</a></p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="remark">备注信息</label>
                    <textarea id="remark" class="form-control" placeholder="请输入描述信息" readonly
                              rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div id="checkAuthenticationModal" class="modal fade" data-bs-backdrop="static" tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="banedModalInputHidden">
        <div class="modal-content">
            <input type="hidden" id="hiddenId">
            <input type="hidden" id="realNameCheck">
            <input type="hidden" id="idCardNumCheck">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">审核认证记录</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <label class="form-label">审核操作</label>

                    <div class="input-group input-group-sm-vertical">
                        <!-- Radio Check -->
                        <label class="form-control" for="success">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="authenticationOperation"
                                       id="success" checked
                                       value="success">
                                <span class="form-check-label">认证通过</span>
                            </span>
                        </label>
                        <label class="form-control" for="fail">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="authenticationOperation"
                                       id="fail"
                                       value="fail">
                                <span class="form-check-label">认证失败</span>
                            </span>
                        </label>
                        <!-- End Radio Check -->
                    </div>
                </div>
                <label class="form-label" for="authenticationRemark">备注</label>
                <textarea id="authenticationRemark" class="form-control" placeholder="填写备注信息" rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="authenticationAuditOperation()">确认</button>
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- End Import Products Modal -->

<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Global Compulsory  -->
<script th:src="@{dashboard/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- JS Implementing Plugins -->
<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/hs-form-search/dist/hs-form-search.min.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/tom-select/dist/js/tom-select.complete.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/clipboard/dist/clipboard.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables.net.extensions/select/select.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/dropzone/dist/min/dropzone.min.js}"></script>

<!-- JS Front -->
<script th:src="@{dashboard/assets/js/theme.min.js}"></script>
<script th:src="@{common/layer/layer.js}"></script>
<script th:src="@{common/util/reg.js}"></script>
<script th:src="@{common/custom.js}"></script>
<script th:src="@{common/custom_ceo.js(v='20260719-logout-fix')}"></script>
<script th:src="@{common/custom_cmo.js}"></script>
<script th:src="@{common/custom_cto.js(v='20260624-free-package2')}"></script>


<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // INITIALIZATION OF DATATABLES
        // =======================================================
        HSCore.components.HSDatatables.init($('#datatable'), {
            select: {
                style: 'multi',
                selector: 'td:first-child input[type="checkbox"]',
                classMap: {
                    checkAll: '#datatableCheckAll',
                    counter: '#datatableCounter',
                    counterInfo: '#datatableCounterInfo'
                }
            },
            language: {
                zeroRecords: `<div class="text-center p-4">
                              <img class="mb-3" src="dashboard/assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                              <img class="mb-3" src="dashboard/assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                            <p class="mb-0">无数据</p>
                            </div>`
            },
            serverSide: true,
            ajax: {
                type: "POST",
                url: 'RealNameAuthentication/queryForDatatables',
                contentType: "application/json",
                data: function (d) {
                    if (d.order.length > 0) {
                        console.log(d.order);
                        let o = d.order[0];
                        let index = o.column;
                        let name = d.columns[index].data;
                        o.column = name;
                    }
                    d.search.columns = ['remark', 'name', 'id_card_num']
                    return JSON.stringify(d);
                },
                dataFilter: function (data) {
                    let json = jQuery.parseJSON(data);
                    return JSON.stringify(json.data);
                }
            },
            bAutoWidth: false,
            columns: [
                {width: '15%', data: 'user_id'},
                {width: '10%', data: 'authenticationType'},
                {width: '25%', data: 'name'},
                {width: '25%', data: 'idCardNum'},
                {width: '10%', data: 'status'},
                {width: '15%', data: 'updateTime'},
                {width: '15%', data: null},
            ],
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        return `
                        <span class="avatar avatar-sm avatar-circle">
                          <img class="avatar-img" src="${row.img}" alt="Image Description">
                        </span>
                        <span style="font-weight: bold">
                            ${row.userName}
                        </span>
                        `;
                    }
                },
                {
                    targets: 1,
                    render: function (data, type, row, meta) {
                        if (data === 'enterprise') return '企业认证';
                        if (data === 'person') return '个人认证';
                    }
                },
                {
                    targets: 4,
                    render: function (data, type, row, meta) {
                        if (data === 'wait') return `<span class="badge bg-warning">等待审核</span>`;
                        if (data === 'success') return `<span class="badge bg-success">审核通过</span>`;
                        if (data === 'fail') return `<span class="badge bg-danger">未通过审核</span>`;
                    }
                },
                {
                    targets: 6,
                    render: function (data, type, row, meta) {
                        console.log(data)
                        // 将data转为json字符串
                        let dataStr = JSON.stringify(data).replace(/"/g, "&quot;");
                        if (data.status === "wait"){
                            return `
                                   <button type="button" class="btn btn-white btn-sm" onclick="openAuthenticationDetailModal('${dataStr}')"> <i class="bi bi-eye-fill"></i> 详情</button>
                                   <button type="button" class="btn btn-white btn-sm" onclick="open2CheckAuthenticationModal('${dataStr}')"> <i class="bi bi-arrow-right-circle-fill"></i> 审核</button>
                                `;
                        }else{
                            return `
                                   <button type="button" class="btn btn-white btn-sm" onclick="openAuthenticationDetailModal('${dataStr}')"> <i class="bi bi-eye-fill"></i> 详情</button>
                                   <button type="button" class="btn btn-white btn-sm" onclick="open2CheckAuthenticationModal('${dataStr}')" disabled="disabled" data-bs-toggle="tooltip" data-bs-placement="top" title="已经审核过了～"> <i class="bi bi-arrow-right-circle-fill"></i> 审核</button>
                                `;
                        }
                    }
                },
                {"orderable": false, "targets": [0, 1, 2, 3, 6]},
            ],
        });

        const datatable = HSCore.components.HSDatatables.getItem('datatable')

        $('.js-datatable-filter').on('change', function () {
            var $this = $(this),
                elVal = $this.val(),
                targetColumnIndex = $this.data('target-column-index');

            datatable.column(targetColumnIndex).search(elVal).draw();
        });

        $('#datatableSearch').on('mouseup', function (e) {
            var $input = $(this),
                oldValue = $input.val();

            if (oldValue == "") return;

            setTimeout(function () {
                var newValue = $input.val();

                if (newValue == "") {
                    // Gotcha
                    datatable.search('').draw();
                }
            }, 1);
        });

        $('#toggleColumn_product').change(function (e) {
            datatable.columns(1).visible(e.target.checked)
        })

        $('#toggleColumn_type').change(function (e) {
            datatable.columns(2).visible(e.target.checked)
        })


        $('#toggleColumn_vendor').change(function (e) {
            datatable.columns(3).visible(e.target.checked)
        })

        $('#toggleColumn_stocks').change(function (e) {
            datatable.columns(4).visible(e.target.checked)
        })

        $('#toggleColumn_sku').change(function (e) {
            datatable.columns(5).visible(e.target.checked)
        })

        $('#toggleColumn_price').change(function (e) {
            datatable.columns(6).visible(e.target.checked)
        })

        $('#toggleColumn_quantity').change(function (e) {
            datatable.columns(7).visible(e.target.checked)
        })

        $('#toggleColumn_variants').change(function (e) {
            datatable.columns(8).visible(e.target.checked)
        })
    });
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        window.onload = function () {


            // INITIALIZATION OF NAVBAR VERTICAL ASIDE
            // =======================================================
            new HSSideNav('.js-navbar-vertical-aside').init()


            // INITIALIZATION OF FORM SEARCH
            // =======================================================
            new HSFormSearch('.js-form-search')


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()


            // INITIALIZATION OF SELECT
            // =======================================================
            HSCore.components.HSTomSelect.init('.js-select')


            // INITIALIZATION OF NAV SCROLLER
            // =======================================================
            new HsNavScroller('.js-nav-scroller')


            // INITIALIZATION OF DROPZONE
            // =======================================================
            HSCore.components.HSDropzone.init('.js-dropzone')

            HSCore.components.HSClipboard.init('.js-clipboard')
        }
    })()
</script>

<!-- Style Switcher JS -->

<script>
    (function () {
        // STYLE SWITCHER
        // =======================================================
        const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
        const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

        // Function to set active style in the dorpdown menu and set icon for dropdown trigger
        const setActiveStyle = function () {
            $variants.forEach($item => {
                if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                    $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                    return $item.classList.add('active')
                }

                $item.classList.remove('active')
            })
        }

        // Add a click event to all items of the dropdown to set the style
        $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
                HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
        })

        // Call the setActiveStyle on load page
        setActiveStyle()

        // Add event listener on change style to call the setActiveStyle function
        window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
        })
    })()
</script>

<!-- End Style Switcher JS -->
</body>
</html>
