<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title th:if="${!openAgent}">[[${websiteBaseConfig.websiteName}]] 消息列表</title>
    <title th:if="${openAgent}">[[${agentConfig.websiteName}]] 消息列表</title>

    <!-- Favicon -->
    <link th:if="${!openAgent}" rel="shortcut icon" th:href="${websiteBaseConfig.websiteIconImg}">
    <link th:if="${openAgent}" rel="shortcut icon" th:href="${agentConfig.icon}">

    <!-- Font -->
    <link th:href="@{common/assets/css/css2.css}" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/bootstrap-icons/font/bootstrap-icons.css}">

    <link rel="stylesheet" th:href="@{dashboard/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css}">

    <script th:src="@{dashboard/assets/js/index.var.js}"></script>

    <!-- CSS Front Template -->

    <link rel="preload" th:href="@{dashboard/assets/css/theme.min.css}" data-hs-appearance="default" as="style">
    <link rel="preload" th:href="@{dashboard/assets/css/theme-dark.min.css}" data-hs-appearance="dark" as="style">
    <style data-hs-appearance-onload-styles>
        * {
            transition: unset !important;
        }

        body {
            opacity: 0;
        }
    </style>

    <script>
        window.hs_config = {
            "autopath": "@@autopath",
            "deleteLine": "hs-builder:delete",
            "deleteLine:build": "hs-builder:build-delete",
            "deleteLine:dist": "hs-builder:dist-delete",
            "previewMode": false,
            "startPath": "/index.html",
            "vars": {
                "themeFont": "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap",
                "version": "?v=1.0"
            },
            "layoutBuilder": {
                "extend": {"switcherSupport": true},
                "header": {"layoutMode": "default", "containerMode": "container-fluid"},
                "sidebarLayout": "default"
            },
            "themeAppearance": {
                "layoutSkin": "default",
                "sidebarSkin": "default",
                "styles": {
                    "colors": {
                        "primary": "#377dff",
                        "transparent": "transparent",
                        "white": "#fff",
                        "dark": "132144",
                        "gray": {"100": "#f9fafc", "900": "#1e2022"}
                    }, "font": "Inter"
                }
            },
            "languageDirection": {"lang": "en"},
            "skipFilesFromBundle": {
                "dist": ["assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "assets/js/demo.js"],
                "build": ["assets/css/theme.css", "assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js", "assets/js/demo.js", "assets/css/theme-dark.css", "assets/css/docs.css", "assets/vendor/icon-set/style.css", "assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js", "assets/js/demo.js"]
            },
            "minifyCSSFiles": ["assets/css/theme.css", "assets/css/theme-dark.css"],
            "copyDependencies": {
                "dist": {"*assets/js/theme-custom.js": ""},
                "build": {"*assets/js/theme-custom.js": "", "node_modules/bootstrap-icons/font/*fonts/**": "assets/css"}
            },
            "buildFolder": "",
            "replacePathsToCDN": {},
            "directoryNames": {"src": "./src", "dist": "./dist", "build": "./build"},
            "fileNames": {
                "dist": {"js": "theme.min.js", "css": "theme.min.css"},
                "build": {
                    "css": "theme.min.css",
                    "js": "theme.min.js",
                    "vendorCSS": "vendor.min.css",
                    "vendorJS": "vendor.min.js"
                }
            },
            "fileTypes": "jpg|png|svg|mp4|webm|ogv|json"
        }
        window.hs_config.gulpRGBA = (p1) => {
            const options = p1.split(',')
            const hex = options[0].toString()
            const transparent = options[1].toString()

            var c;
            if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
                c = hex.substring(1).split('');
                if (c.length == 3) {
                    c = [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c = '0x' + c.join('');
                return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',' + transparent + ')';
            }
            throw new Error('Bad Hex');
        }
        window.hs_config.gulpDarken = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = -parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
        window.hs_config.gulpLighten = (p1) => {
            const options = p1.split(',')

            let col = options[0].toString()
            let amt = parseInt(options[1])
            var usePound = false

            if (col[0] == "#") {
                col = col.slice(1)
                usePound = true
            }
            var num = parseInt(col, 16)
            var r = (num >> 16) + amt
            if (r > 255) {
                r = 255
            } else if (r < 0) {
                r = 0
            }
            var b = ((num >> 8) & 0x00FF) + amt
            if (b > 255) {
                b = 255
            } else if (b < 0) {
                b = 0
            }
            var g = (num & 0x0000FF) + amt
            if (g > 255) {
                g = 255
            } else if (g < 0) {
                g = 0
            }
            return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
        }
    </script>
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

<script th:src="@{dashboard/assets/js/hs.theme-appearance.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js}"></script>

<!-- ========== HEADER ========== -->

<div th:replace="common/common-dashboard::header(curPage='message', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<!-- Navbar Vertical -->

<div th:replace="common/common-dashboard::aside(curPage='message', dashboardLogo=${websiteBaseConfig.websiteLogoImg}, dashboardIcon=${websiteBaseConfig.websiteIconImg})"></div>

<!-- End Navbar Vertical -->
<main id="content" example="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header" style="padding-bottom: 5px;margin-bottom: 10px">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <h1 class="page-header-title">消息列表 <i class="bi-chat-dots nav-icon"></i>
                    </h1>

                </div>
                <!-- End Col -->
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-primary" onclick="readAllMessage()">
                        全部已读
                    </button>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-md">
                        <div class="d-flex justify-content-between align-items-center">
                            <form>
                                <!-- Search -->
                                <div class="input-group input-group-merge input-group-flush">
                                    <div class="input-group-prepend input-group-text">
                                        <i class="bi-search"></i>
                                    </div>
                                    <input id="datatableSearch" type="search" class="form-control"
                                           placeholder="关键词搜索">
                                </div>
                                <!-- End Search -->
                            </form>
                            <!-- End Col -->
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                        <!-- Filter -->
                        <div class="row align-items-sm-center">

                            <!--批量删除-->
                            <div class="col-sm-auto">
                                <!-- Filter -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Datatable Info -->
                                    <div id="datatableCounterInfo" style="display: none;">
                                        <div class="d-flex align-items-center">
                                    <span class="fs-6 me-3">
                                      <span id="datatableCounter">0</span>
                                      条被选中
                                    </span>
                                            <button class="btn btn-outline-danger btn-sm"
                                                    onclick="confirmDelete('deleteBatch()')">
                                                <i class="tio-delete-outlined"></i> 删除
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Datatable Info -->
                                </div>
                                <!-- End Filter -->
                            </div>
                            <!-- End Col -->

                            <!--用户过滤-->
                            <!-- End Col -->

                            <!--状态过滤-->
                            <div class="col-sm-auto">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <span class="text-secondary me-2" style="font-weight: bold">状态：</span>
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <!-- Select -->
                                        <div class="tom-select-custom tom-select-custom-end">
                                            <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                                    data-target-column-index="5" data-target-table="datatable"
                                                    autocomplete="off" data-hs-tom-select-options='{
                                                  "searchInDropdown": false,
                                                  "hideSearch": true,
                                                  "dropdownWidth": "10rem"
                                                }'>
                                                <option value="all">全部</option>
                                                <option value="unread">未读</option>
                                                <option value="read">已读</option>
                                            </select>
                                        </div>
                                        <!-- End Select -->
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>
                            <!-- End Col -->

                        </div>
                    </div>

                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <table id="datatable" style="width: 100%"
                       class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-hover"
                       data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                   "order": [[6, "desc"]],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 10,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination",
                   "paginationPrevLinkMarkup": "<span aria-hidden=\"true\">前一页</span>",
                   "paginationNextLinkMarkup": "<span aria-hidden=\"true\">后一页</span>"

                 }'>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-column-pe-0">
                            <div class="form-check">
                                <input style="border: 1px solid #677788;" class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                                <label class="form-check-label" for="datatableCheckAll"></label>
                            </div>
                        </th>
                        <th>接受用户</th>
                        <th>发送用户</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
            <!-- End Table -->

            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                            <span class="me-2">每页显示</span>

                            <!-- Select -->
                            <div class="tom-select-custom">
                                <select id="datatableEntries"
                                        class="js-select form-select form-select-borderless" autocomplete="off"
                                        data-hs-tom-select-options='{
                                            "searchInDropdown": false,
                                            "hideSearch": true,
                                            "dropdownWidth": "6rem"
                                          }'>
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="80">80</option>
                                </select>
                            </div>
                            <!-- End Select -->

                            <span class="text-secondary me-2">条，共</span>
                            <!-- Pagination Quantity -->
                            <span id="datatableWithPaginationInfoTotalQty"></span>

                            <span class="text-secondary me-2" style="margin-left: 10px"> 条</span>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div th:replace="common/common-dashboard::#footer(curPage='message')"></div>
    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->

<div th:replace="common/common-dashboard::#offcanvasActivityStream(curPage='message')"></div>

<!-- Modal -->
<div id="exampleModalCenter" class="modal fade" tabindex="-1" example="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" example="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">添加示例数据</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="exampleName">名称</label>
                    <input type="text" id="exampleName" class="form-control" placeholder="请输入名称" maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleCode">编码</label>
                    <input type="text" id="exampleCode" class="form-control" placeholder="请输入编码" maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleRemark">描述信息</label>
                    <textarea id="exampleRemark" class="form-control" placeholder="请输入描述信息" rows="4"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">关闭</button>
                <button type="button" onclick="add()" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<div id="exampleModalCenter1" class="modal fade" tabindex="-1" example="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" example="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle1">修改示例数据</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="exampleNameUpdate">名称</label>
                    <input type="text" id="exampleId" class="form-control" style="display:none;">
                    <input type="text" id="exampleNameUpdate" class="form-control" placeholder="请输入名称"
                           maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleCodeUpdate">编码</label>
                    <input type="text" id="exampleCodeUpdate" class="form-control" placeholder="请输入编码"
                           maxlength="30">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleRemarkUpdate">描述信息</label>
                    <textarea id="exampleRemarkUpdate" class="form-control" placeholder="请输入描述信息"
                              rows="4"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">关闭</button>
                <button type="button" onclick="update()" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- End Import Products Modal -->

<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Global Compulsory  -->
<script th:src="@{dashboard/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- JS Implementing Plugins -->
<script th:src="@{dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/hs-form-search/dist/hs-form-search.min.js}"></script>

<script th:src="@{dashboard/assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/tom-select/dist/js/tom-select.complete.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/clipboard/dist/clipboard.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/datatables.net.extensions/select/select.min.js}"></script>
<script th:src="@{dashboard/assets/vendor/dropzone/dist/min/dropzone.min.js}"></script>

<!-- JS Front -->
<script th:src="@{dashboard/assets/js/theme.min.js}"></script>
<script th:src="@{common/layer/layer.js}"></script>
<script th:src="@{common/util/reg.js}"></script>
<script th:src="@{common/custom.js}"></script>
<script th:src="@{common/custom_ceo.js}"></script>
<script th:src="@{common/custom_cmo.js}"></script>
<script th:src="@{common/custom_cto.js(v='20260624-free-package2')}"></script>


<!-- JS Plugins Init. -->
<script>
    // 请求资源地址
    let api = "Message";
    // 关键字查询字段
    let keys = ['title', 'message']
    // 列数据绑定
    let dataTableColumns = [
        // 不一定总和等于100%
        {width: '5%', data: null},
        {width: '5%', data: 'receiveUserId'},
        {width: '5%', data: 'sendUserId'},
        {width: '15%', data: 'title'},
        {width: '25%', data: 'message'},
        {width: '5%', data: 'status'},
        {width: '10%', data: 'createTime'},
        {width: '10%', data: 'updateTime'},
        {width: '10%', data: null},
    ]

    // 不指定排序的列
    let noOrderColumns = [0, 1, 2, 3, 4, 8]

    // =======================================================================

    $(document).on('ready', function () {
        // INITIALIZATION OF DATATABLES
        // =======================================================
        HSCore.components.HSDatatables.init($('#datatable'), {
            select: {
                style: 'multi',
                selector: 'td:first-child input[type="checkbox"]',
                classMap: {
                    checkAll: '#datatableCheckAll',
                    counter: '#datatableCounter',
                    counterInfo: '#datatableCounterInfo'
                }
            },
            language: {
                zeroRecords: `<div class="text-center p-4">
                              <img class="mb-3" src="dashboard/assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                              <img class="mb-3" src="dashboard/assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                            <p class="mb-0">无数据</p>
                            </div>`
            },
            serverSide: true,
            ajax: {
                type: "POST",
                url: `${api}/queryForDatatables`,
                contentType: "application/json",
                data: function (d) {
                    if (d.order.length > 0) {
                        console.log(d.order);
                        let o = d.order[0];
                        let index = o.column;
                        let name = d.columns[index].data;
                        o.column = name;
                    }
                    d.search.columns = keys;
                    return JSON.stringify(d);
                },
                dataFilter: function (data) {
                    let json = jQuery.parseJSON(data);
                    return JSON.stringify(json.data);
                }
            },
            columns: dataTableColumns,
            columnDefs: [
                // 列渲染函数
                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        return '<div class="form-check">' +
                            '<input style="border: 1px solid #677788;" name="batchCheck" class="form-check-input" type="checkbox" value="' + data.id + '" id="usersDataCheck' + data.id + '">' +
                            '<label class="form-check-label" for="usersDataCheck' + data.id + '"></label>' +
                            '</div>'
                    }
                },
                {
                    targets: 1,
                    render: function (data, type, row, meta) {
                        return `
                        <span class="avatar avatar-sm avatar-circle">
                          <img class="avatar-img" src="${row.receiveUserImg}" alt="Image Description">
                        </span>
                        <span style="font-weight: bold">
                            ${row.receiveUserName}
                        </span>
                        `;
                    }
                },
                {
                    targets: 2,

                    render: function (data, type, row, meta) {
                        return `
                        <span class="avatar avatar-sm avatar-circle">
                          <img class="avatar-img" src="${row.sendUserImg}" alt="Image Description">
                        </span>
                        <span style="font-weight: bold">
                            ${row.sendUserName}
                        </span>
                        `;
                    }
                },
                {
                    targets: 5,
                    render: function (data, type, row, meta) {
                        if (data === 'read') {
                            return `<span class="badge bg-soft-primary text-primary">已读</span>`;
                        } else if (data === 'unread') {
                            return `<span class="badge bg-soft-warning text-warning">未读</span>`;
                        } else {
                            return `<span class="badge bg-soft-secondary text-secondary">-</span>`;
                        }
                    }
                },
                {
                    targets: 8,
                    render: function (data, type, row, meta) {
                        let dataStr = JSON.stringify(data).replace(/"/g, "&quot;");
                        if(data.status === 'read'){
                            return `
                                    <button type="button" class="btn btn-white btn-sm disabled" onclick="readMessage('${data.id}')"> <i class="bi-pen-fill"></i> 已读</button>
                                    <button type="button" class="btn btn-white btn-sm" onclick="confirmDelete('deleteData(\\'${data.id}\\')')"> <i class="bi-trash-fill"></i> 删除</button>
                                `;
                        }else{
                            return `
                                    <button type="button" class="btn btn-white btn-sm" onclick="readMessage('${data.id}')"> <i class="bi-pen-fill"></i> 已读</button>
                                    <button type="button" class="btn btn-white btn-sm" onclick="confirmDelete('deleteData(\\'${data.id}\\')')"> <i class="bi-trash-fill"></i> 删除</button>
                                `;
                        }

                    }
                },
                {"orderable": false, "targets": noOrderColumns},
            ],
        });

        const datatable = HSCore.components.HSDatatables.getItem('datatable')

        $('.js-datatable-filter').on('change', function () {
            var $this = $(this),
                elVal = $this.val(),
                targetColumnIndex = $this.data('target-column-index');

            datatable.column(targetColumnIndex).search(elVal).draw();
        });

        $('#datatableSearch').on('mouseup', function (e) {
            var $input = $(this),
                oldValue = $input.val();

            if (oldValue == "") return;

            setTimeout(function () {
                var newValue = $input.val();

                if (newValue == "") {
                    // Gotcha
                    datatable.search('').draw();
                }
            }, 1);
        });

        $('#toggleColumn_product').change(function (e) {
            datatable.columns(1).visible(e.target.checked)
        })

        $('#toggleColumn_type').change(function (e) {
            datatable.columns(2).visible(e.target.checked)
        })


        $('#toggleColumn_vendor').change(function (e) {
            datatable.columns(3).visible(e.target.checked)
        })

        $('#toggleColumn_stocks').change(function (e) {
            datatable.columns(4).visible(e.target.checked)
        })

        $('#toggleColumn_sku').change(function (e) {
            datatable.columns(5).visible(e.target.checked)
        })

        $('#toggleColumn_price').change(function (e) {
            datatable.columns(6).visible(e.target.checked)
        })

        $('#toggleColumn_quantity').change(function (e) {
            datatable.columns(7).visible(e.target.checked)
        })

        $('#toggleColumn_variants').change(function (e) {
            datatable.columns(8).visible(e.target.checked)
        })
    });

    /**
     * 开启修改
     */
    function openUpdateModal(dataStr) {
        let data = JSON.parse(dataStr);
        $('#exampleId').val(data.id);
        $('#exampleNameUpdate').val(data.name);
        $('#exampleCodeUpdate').val(data.cd);
        $('#exampleRemarkUpdate').val(data.remark);
        turnModal('exampleModalCenter1', 'on');
    }

    /**
     * 更新
     */
    async function update() {
        let exampleId = $('#exampleId').val();
        let exampleName = $('#exampleNameUpdate').val();
        let exampleCode = $('#exampleCodeUpdate').val();
        let exampleRemark = $('#exampleRemarkUpdate').val();
        if (!exampleId) {
            layerWarn("示例数据ID不能为空");
            return;
        }
        if (!exampleName) {
            layerWarn("示例数据名称不能为空");
            return;
        }
        if (!exampleRemark) {
            layerWarn("描述信息不能为空");
            return;
        }
        let data = await sendRequest("POST", `${api}/save`, {
            id: exampleId, name: exampleName, cd: exampleCode, remark: exampleRemark,
        });
        autoLayer(data);
        if (data['code'] === 'SUCCESS') {
            setTimeout(function () {
                reload()
            }, 1000);
        }
    }

    /**
     * 添加示例数据
     */
    async function add() {
        let exampleName = $('#exampleName').val();
        let exampleCode = $('#exampleCode').val();
        let exampleRemark = $('#exampleRemark').val();
        if (!exampleName) {
            layerWarn("示例数据名称不能为空");
            return;
        }
        if (!exampleCode) {
            layerWarn("示例数据编码不能为空");
            return;
        }
        if (!exampleRemark) {
            layerWarn("描述信息不能为空");
            return;
        }
        let data = await sendRequest("POST", `${api}/save`, {
            cd: exampleCode, name: exampleName, remark: exampleRemark,
        });
        autoLayer(data);
        if (data['code'] === 'SUCCESS') {
            setTimeout(function () {
                reload()
            }, 1000);
        }
    }

    /**
     * 删除
     */
    async function deleteData(id) {
        if (!id) {
            layerWarn("ID不能为空");
            return;
        }
        let data = await sendRequest("POST", `${api}/delete`, {
            id: id
        });
        autoLayer(data);
        if (data['code'] === 'SUCCESS') {
            setTimeout(function () {
                reload()
            }, 1000);
        }
    }

    /**
     * 批量删除
     */
    async function deleteBatch() {
        let batchChecks = $('input[name="batchCheck"]:checkbox:checked');
        let ids = []
        $.each(batchChecks, function () {
            ids.push($(this).val())
        });
        if (!ids) {
            layerWarn("未选中任何数据");
            return;
        }
        let data = await sendRequest("POST", `${api}/deleteBatch`, {
            ids: ids
        });
        autoLayer(data);
        if (data['code'] === 'SUCCESS') {
            setTimeout(function () {
                reload()
            }, 1000);
        }
    }
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        window.onload = function () {


            // INITIALIZATION OF NAVBAR VERTICAL ASIDE
            // =======================================================
            new HSSideNav('.js-navbar-vertical-aside').init()


            // INITIALIZATION OF FORM SEARCH
            // =======================================================
            new HSFormSearch('.js-form-search')


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()


            // INITIALIZATION OF SELECT
            // =======================================================
            HSCore.components.HSTomSelect.init('.js-select')


            // INITIALIZATION OF NAV SCROLLER
            // =======================================================
            new HsNavScroller('.js-nav-scroller')


            // INITIALIZATION OF DROPZONE
            // =======================================================
            HSCore.components.HSDropzone.init('.js-dropzone')

            HSCore.components.HSClipboard.init('.js-clipboard')
        }
    })()
</script>

<!-- Style Switcher JS -->

<script>
    (function () {
        // STYLE SWITCHER
        // =======================================================
        const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
        const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

        // Function to set active style in the dorpdown menu and set icon for dropdown trigger
        const setActiveStyle = function () {
            $variants.forEach($item => {
                if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                    $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                    return $item.classList.add('active')
                }

                $item.classList.remove('active')
            })
        }

        // Add a click event to all items of the dropdown to set the style
        $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
                HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
        })

        // Call the setActiveStyle on load page
        setActiveStyle()

        // Add event listener on change style to call the setActiveStyle function
        window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
        })

    })()
</script>

<!-- End Style Switcher JS -->
</body>
</html>
<div th:replace="common/common-dashboard::#agent"></div>

